mixin counter(data)
    .counter.js-counter
        input.counter__input.js-counter-input(type="text" value='1')
        .counter__controls
            .counter__incr.js-counter-incr &plus;
            .counter__decr.js-counter-decr &minus;
