// Common styles of the project

html, body {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

html {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

body {
    min-height: 100%;;
}

.page {
    display: flex;

}
