// Common styles of the project

html, body {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

html {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

.page {
    &__wrapper {
        min-height: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: stretch;
    }
}
