h2 {
    font-size: 34px;
}

a {
    text-decoration: none;
    color: $main-color;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.input-group {
    display: flex;

    input, .form-group {
        margin: 10px 10px 10px 0;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

input[type="checkbox"], input[type="radio"] {
    display: none;

    + span {
        padding-left: 30px;
        position: relative;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid $main-color;
        }

        &:after {
            position: absolute;
            top: 4px;
            left: 4px;
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $main-color;
            opacity: 0;
        }
    }

    &:checked + span:after {
        opacity: 1;
    }

    ~ .description {
        display: block;
        margin-top: 6px;
        padding-left: 30px;
        color: $gray;
    }
}

.form-block-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    height: 42px;

    &:disabled {
        background-color: rgb(180, 180, 180);
    }
}

input, textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 2px solid $gray;
    border-radius: 4px;
}

.btn {
    height: 42px;
    display: flex;
    align-items: center;
    background-color: $main-color;
    color: #fff;
    padding: 0 26px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;

    &.invert {
        background-color: #fff;
        color: $main-color;

        &:hover {
            color: #fff;
        }
    }

    &:hover {
        background-color: $hover-color;
    }
}
