mixin order-status(data)
        .order-status
            h2 Заказ успешно оформлен

            p Оплата успешно прошла и наш менеджер уже получил сообщение об этом. В ближайшее время он с вами свяжется и уточнит детали доставки.

            p Номер вашего заказа: X000000

            p Спасибо!

            .order-status__footer
                button.btn Вернуться на главную
