.summary {
    width: 400px;
    padding: 0 20px;
    flex-shrink: 0;
    background-color: $main-color;
    color: #fff;
    font-size: 18px;

    .form-group {
        input {
            max-width: 200px;
        }
    }

    &__total {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        border-top: 1px solid #fff;
        font-size: 20px;
        font-weight: 700;
    }

    &__promode-description {
        margin-bottom: 20px;
    }
}

.summary-list {
    margin-bottom: 30px;

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }
}

