include ../counter/counter

mixin product(data)
    .product.js-product
        .product__image
            img(src= data.img, alt= data.title)
        .product__info
            .product__title= data.title
            .product__description= data.description
            .product__amount Количество: #[span.js-product-count 1]

        .product__price
            span.product__price-amount.js-product-price= data.price
            span.product__price-currency  &#8381;

        .product__counter
            +counter()

        .product__total-price
            span.product__price-amount.js-product-sum 30000
            span.product__price-currency  &#8381;

        .product__remove.js-product-remove
            != pugHelpers.Icon.call(locals, {iconName: 'close'})
