mixin breadcrumbs(data)
    ul.breadcrumbs
        li.breadcrumbs__item.active
            a(href="#") Корзина
        li.breadcrumbs__item
            a(href="#") Доставка
        li.breadcrumbs__item
            a(href="#") Оплата
