mixin breadcrumbs(data)
    ul.breadcrumbs
        li.breadcrumbs__item.active
            a(href="#product-list").js-checkout-step-link Корзина
        li.breadcrumbs__item
            a(href="#delivery").js-checkout-step-link Доставка
        li.breadcrumbs__item
            a(href="#payment").js-checkout-step-link Оплата
        li.breadcrumbs__item
            a(href="#order-status").js-checkout-step-link Статус
